
body { background-color: lightblue; 
        text-align: justify;
    }


 .header{

    background-color: #fff;
    border-radius: 30px;
    width: fit-content;
    margin: auto;
    padding: 25px;
    box-shadow: 0px 0px 16px 0px rgb(96 96 96 / 34%);
    margin-bottom: 30px;
    text-align: center;
  }   


 .heading{
    background-color: #fff;
    border-radius: 30px;
    width: fit-content;
    margin: auto;
    padding: 25px;
    box-shadow: 0px 0px 16px 0px rgb(96 96 96 / 34%);
    margin-bottom: 30px;
    text-align: center;
 }   

#descBibl{
    background-color: #fff;
    border-radius: 30px;
    width: fit-content;
    margin: auto auto 30px auto;
    padding: 25px;
    box-shadow: 0px 0px 16px 0px rgb(96 96 96 / 34%);
    text-align: left;
 }   



 .container{
    background-color: #fff;
    border-radius: 30px;
    width: fit-content;
    margin: 30px auto auto auto;
    padding: 25px;
    box-shadow: 0px 0px 16px 0px rgb(96 96 96 / 34%);
    text-align: left;
 }   


.tab10{

    border-radius: 30px;
    width: fit-content;
    margin: 2px;
    padding: 15px;
    box-shadow: 0px 0px 16px 0px rgb(96 96 96 / 34%);
    text-align: center;
 }
 
 .tab9{

    border-radius: 30px;
    width: fit-content;
    margin: 2px;
    padding: 15px;
    box-shadow: 0px 0px 16px 0px rgb(96 96 96 / 34%);
    text-align: center;
 }
 
.tab8{
   border-radius: 30px;
   width: fit-content;
   margin: 2px;
   padding: 15px;
   box-shadow: 0px 0px 16px 0px rgb(96 96 96 / 34%);
   text-align: center;
}

.tab7{
   border-radius: 30px;
   width: fit-content;
   margin: 2px;
   padding: 15px;
   box-shadow: 0px 0px 16px 0px rgb(96 96 96 / 34%);
   text-align: center;
}

.tab6{
   border-radius: 30px;
   width: fit-content;
   margin: 2px;
   padding: 15px;
   box-shadow: 0px 0px 16px 0px rgb(96 96 96 / 34%);
   text-align: center;
}

.tab5{
   border-radius: 30px;
   width: fit-content;
   margin: 2px;
   padding: 15px;
   box-shadow: 0px 0px 16px 0px rgb(96 96 96 / 34%);
   text-align: center;
}

.tab4{
   border-radius: 30px;
   width: fit-content;
   margin: 2px;
   padding: 15px;
   box-shadow: 0px 0px 16px 0px rgb(96 96 96 / 34%);
   text-align: center;
}

.tab3{
   border-radius: 30px;
   width: fit-content;
   margin: 2px;
   padding: 15px;
   box-shadow: 0px 0px 16px 0px rgb(96 96 96 / 34%);
   text-align: center;
}

.tab2{
   border-radius: 30px;
   width: fit-content;
   margin: 2px;
   padding: 15px;
   box-shadow: 0px 0px 16px 0px rgb(96 96 96 / 34%);
   text-align: center;
}

.tab1{
   border-radius: 30px;
   width: fit-content;
   margin: 2px;
   padding: 15px;
   box-shadow: 0px 0px 16px 0px rgb(96 96 96 / 34%);
   text-align: center;
}
 


.ft{
   border-radius: 30px;
   width: fit-content;
   margin: auto;
   padding: 15px;
   box-shadow: 0px 0px 16px 0px rgb(96 96 96 / 34%);
   text-align: center;
}
 

































































































































































































































































































































































































































































































































































































